*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    background-color:gray;
    height:100vh;
    width:100%;
}
.wrapper{
    width:400px;
    height:150px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    align-items: center;
    text-align: center;
    border-radius: 5px;
}
.wrapper .watch{
    background-color:darkslategray;
    font-size: 45px;
    padding:20px;
    border-radius: 10px;
    color:white;
    font-family:Bahnschrift;

}
.wrapper .btn button{
    padding:10px 20px;
    margin:15px 4px;
    color:white;
    outline:none;
    border:none;
    border-radius: 4px;
    font-size: 20px;
    font-family:"Felix Titling";
    font-weight: bold;
    pointer-events: auto;
    cursor:pointer;

}
.btn .start{
    background-color:green;
}
.btn .pause{
    background-color: sandybrown;
}
.btn .reset{
    background-color: red;
}